.vs/
packages/
Eureka.Domain/obj/
Eureka.Domain/bin/
Eureka.Domain.Tests/obj/
Eureka.Domain.Tests/bin/
Eureka.SharedKernel/obj/
Eureka.SharedKernel/bin/
Eureka.Infra/obj/
Eureka.Infra/bin/
Eureka.ApplicationService/obj/
Eureka.ApplicationService/bin/
Eureka.CrossCutting/obj/
Eureka.CrossCutting/bin/
Eureka.ApiWeb/obj/
Eureka.ApiWeb/bin/